
<div class="be-modal-card-overlay" [@modalCard]="animatoState" (@modalCard.done)="animationDone($event)">
  <div class="be-modal-card-content-wrapper">
    <div class="be-modal-card-button-wrapper p-grid p-nogutter">
      <div class="p-col-12">
        <button class="ui-button-secondary" pButton type="button" (click)="startCloseCard()" icon="pi pi-times"></button>
        <button class="ui-button-secondary" pButton type="button" label="{{'COLLAPSE_ALL' | translate}}" (click)="collapseOpennedAccordions($event)"></button>
      </div>
    </div>
    <div class="p-grid">
      <div class="be-accordion p-col-12">
        <p-accordion [multiple]="true" (onOpen)="true" styleClass="be-accordion-block">
          <p-accordionTab [selected]="true" header="BLOCK ONE">
            <div class="p-grid p-nogutter">
              <div class="p-col-12">
                <button class="ui-button-secondary" pButton type="button" (click)="setLockFields(false)" [disabled]="!flags.editingModeOff" icon="pi pi-pencil"></button>
                <button class="ui-button-secondary" pButton type="button" (click)="saveCard(); setLockFields(true)" [disabled]="flags.editingModeOff" icon="pi pi-save"></button>
                <button class="ui-button-secondary" pButton type="button" (click)="renewCard(); setLockFields(true)" [disabled]="flags.editingModeOff" icon="pi pi-times-circle"></button>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-4">
                <div class="be-label-wrapper">
                  <label class="be-label" for="simple-card-input1{{additive}}">{{ 'REQ_PAYER' | translate }}
                    <ng-container *ngIf="true&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                  </label>
                </div>
              </div>
              <div class="p-col-8">
                <div class="be-input-button-wrapper-v2">
                  <input class="be-input-field" pInputText id="simple-card-input1{{additive}}" name="simple-card-input1{{additive}}" type="text" [disabled]="flags.editingModeOff">
                  <button class="be-input-button fat-button" pButton type="button" icon="pi pi-ellipsis-h" (click)="openNewWindow()" [disabled]="flags.editingModeOff"></button>
                </div>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-4">
                <div class="be-label-wrapper">
                  <label class="be-label" for="simple-card-input2{{additive}}">{{ 'PUBLIC' | translate }}
                    <ng-container *ngIf="false&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                  </label>
                </div>
              </div>
              <div class="p-col-8">
                <div class="be-input-button-wrapper-v2">
                  <input class="be-input-field" pInputText id="simple-card-input2{{additive}}" name="simple-card-input2{{additive}}" type="text" [disabled]="flags.editingModeOff">
                  <button class="be-input-button fat-button" pButton type="button" icon="pi pi-ellipsis-h" [disabled]="flags.editingModeOff"></button>
                </div>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-4">
                <div class="be-label-wrapper">
                  <label class="be-label" for="simple-card-input3{{additive}}">{{ 'DOCUMENTS' | translate }}
                    <ng-container *ngIf="false&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                  </label>
                </div>
              </div>
              <div class="p-col-8">
                <div class="be-input-button-wrapper">
                  <input class="be-input-field" pInputText id="simple-card-input3{{additive}}" name="simple-card-input3{{additive}}" type="text" [disabled]="flags.editingModeOff">
                  <button class="be-input-button" pButton type="button" icon="pi pi-ellipsis-h" [disabled]="flags.editingModeOff"></button>
                </div>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-4">
                <div class="be-label-wrapper">
                  <label class="be-label" for="simple-card-picker1{{additive}}">{{ 'PLACE_BIRTH' | translate }}
                    <ng-container *ngIf="false&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                  </label>
                </div>
              </div>
              <div class="p-col-8">
                <div class="p-grid p-nogutter be-searchpicker-wrapper-v2">
                  <div class="p-col-4">
                    <input class="be-searchpicker-first" id="simple-card-picker1{{additive}}" name="simple-card-picker1{{additive}}" type="text" pInputText [disabled]="flags.editingModeOff">
                  </div>
                  <div class="p-col-8">
                    <div class="be-input-button-wrapper">
                      <input class="be-searchpicker-second be-input-field" id="simple-card-picker1{{additive}}_description" name="simple-card-picker1{{additive}}_description" type="text" pInputText disabled="true">
                      <button class="ui-button be-input-button" pButton type="button" icon="pi pi-ellipsis-h" [disabled]="flags.editingModeOff"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-4">
                <div class="be-label-wrapper">
                  <label class="be-label" for="simple-card-picker1{{additive}}">{{ 'PLACE_WORK' | translate }}
                    <ng-container *ngIf="true&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                  </label>
                </div>
              </div>
              <div class="p-col-8">
                <div class="p-grid p-nogutter be-searchpicker-wrapper-v3">
                  <div class="p-col-4">
                    <input class="be-searchpicker-first" id="simple-card-picker2{{additive}}" name="simple-card-picker2{{additive}}" type="text" pInputText [disabled]="flags.editingModeOff">
                  </div>
                  <div class="p-col-8">
                    <div class="be-input-button-wrapper">
                      <input class="be-searchpicker-second be-input-field" id="simple-card-picker2{{additive}}_description" name="simple-card-picker2{{additive}}_description" type="text" pInputText disabled="true">
                      <button class="ui-button be-input-button" pButton type="button" icon="pi pi-ellipsis-h" [disabled]="flags.editingModeOff"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-4">
                <div class="be-label-wrapper">
                  <label class="be-label" for="simple-card-dropdown1{{additive}}">{{ 'REQ_RECIP' | translate }}
                    <ng-container *ngIf="true&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                  </label>
                </div>
              </div>
              <div class="p-col-8">
                <p-dropdown inputId="simple-card-dropdown1{{additive}}" styleClass="be-dropdown" [options]="cities" [(ngModel)]="selectedCity" [showClear]="false" dropdownIcon="pi pi-caret-down" [disabled]="flags.editingModeOff" scrollHeight="200px"></p-dropdown>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-4">
                <div class="be-label-wrapper">
                  <label class="be-label" for="simple-card-dropdown2{{additive}}">{{ 'CORR' | translate }}
                    <ng-container *ngIf="true&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                  </label>
                </div>
              </div>
              <div class="p-col-8">
                <div class="p-grid p-nogutter be-dropdown-picker-wrapper">
                  <div class="p-col-4">
                    <input class="be-dropdown-picker-first" id="simple-card-dropdown2{{additive}}" name="simple-card-dropdown2{{additive}}" type="text" pInputText [disabled]="flags.editingModeOff" (focusout)="focusOut($event)">
                  </div>
                  <div class="p-col-8">
                    <p-dropdown inputId="simple-card-dropdown2{{additive}}_dropdown" styleClass="be-dropdown be-dropdown-picker" [options]="cities" [(ngModel)]="selectedCity" [showClear]="false" dropdownIcon="pi pi-caret-down" [disabled]="flags.editingModeOff" (onChange)="dropDown($event)" scrollHeight="150px"></p-dropdown>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-4">
                <div class="be-label-wrapper">
                  <label class="be-label" for="simple-card-dropdown3{{additive}}">{{ 'POSITION' | translate }}
                    <ng-container *ngIf="true&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                  </label>
                </div>
              </div>
              <div class="p-col-8">
                <div class="p-grid p-nogutter be-dropdown-picker-wrapper-v2">
                  <div class="p-col-4">
                    <input class="be-dropdown-picker-first" id="simple-card-dropdown3{{additive}}" name="simple-card-dropdown3{{additive}}" styleClass="be-dropdown be-dropdown-picker" type="text" pInputText [disabled]="flags.editingModeOff" (focusout)="focusOut($event)">
                  </div>
                  <div class="be-dropdown-picker-block p-col-8">
                    <p-dropdown inputId="simple-card-dropdown3{{additive}}_dropdown" styleClass="be-dropdown be-dropdown-picker" [options]="cities" [(ngModel)]="selectedCity" [showClear]="false" dropdownIcon="pi pi-caret-down" [disabled]="flags.editingModeOff" (onChange)="dropDown($event)" scrollHeight="150px"></p-dropdown>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-4">
                <div class="be-label-wrapper">
                  <label class="be-label" for="simple-card-date1{{additive}}">{{ 'DATE_BIRTH' | translate }}
                    <ng-container *ngIf="true&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                  </label>
                </div>
              </div>
              <div class="p-col-8">
                <div class="be-calendar-wrapper-v2">
                  <p-calendar inputId="simple-card-date1{{additive}}" [showIcon]="true" styleClass="be-calendar-wrapper" inputStyleClass="be-calendar" [showOnFocus]="false" [disabled]="flags.editingModeOff"></p-calendar>
                  <button class="be-input-button be-button-fat" type="button" pButton icon="pi pi-ellipsis-h" [disabled]="flags.editingModeOff"></button>
                </div>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-col-4">
                <div class="be-label-wrapper">
                  <label class="be-label" for="simple-card-date2{{additive}}">{{ 'DATE_BIRTH' | translate }}
                    <ng-container *ngIf="true&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                  </label>
                </div>
              </div>
              <div class="p-col-8">
                <p-calendar inputId="simple-card-date2{{additive}}" [showIcon]="true" styleClass="be-calendar-wrapper" inputStyleClass="be-calendar" [showOnFocus]="false" [disabled]="flags.editingModeOff"></p-calendar>
              </div>
            </div>
          </p-accordionTab>
          <div class="p-grid p-nogutter">
            <div class="be-accordion be-accordiontab-single p-col-12 p-md-6 p-lg-3">
              <p-accordion [multiple]="true" styleClass="be-accordion-block">
                <p-accordionTab [selected]="true" header="SINGLE ACCORDION TAB 11">
                  <div class="p-grid">
                    <div class="p-col-4">
                      <div class="be-label-wrapper">
                        <label class="be-label" for="simple-card-input11{{additive}}">{{ 'PERSON_DO' | translate }}
                          <ng-container *ngIf="true&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                        </label>
                      </div>
                    </div>
                    <div class="p-col-8">
                      <div class="be-input-button-wrapper-v2">
                        <input class="be-input-field" pInputText id="simple-card-input11{{additive}}" name="simple-card-input11{{additive}}" type="text" [disabled]="flags.editingModeOff">
                        <button class="be-input-button fat-button" pButton type="button" icon="pi pi-ellipsis-h" [disabled]="flags.editingModeOff"></button>
                      </div>
                    </div>
                  </div>
                </p-accordionTab>
              </p-accordion>
            </div>
            <div class="be-accordion be-accordiontab-single p-col-12 p-md-6 p-lg-3">
              <p-accordion [multiple]="true" styleClass="be-accordion-block">
                <p-accordionTab [selected]="true" header="SINGLE ACCORDION TAB 22">
                  <div class="p-grid">
                    <div class="p-col-4">
                      <div class="be-label-wrapper">
                        <label class="be-label" for="simple-card-input22{{additive}}">{{ 'CUSTOMER.PAYNAME' | translate }}
                          <ng-container *ngIf="true&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                        </label>
                      </div>
                    </div>
                    <div class="p-col-8">
                      <div class="be-input-button-wrapper-v2">
                        <input class="be-input-field" pInputText id="simple-card-input22{{additive}}" name="simple-card-input22{{additive}}" type="text" [disabled]="flags.editingModeOff">
                        <button class="be-input-button fat-button" pButton type="button" icon="pi pi-ellipsis-h" [disabled]="flags.editingModeOff"></button>
                      </div>
                    </div>
                  </div>
                </p-accordionTab>
              </p-accordion>
            </div>
            <div class="be-accordion be-accordiontab-single p-col-12 p-md-6 p-lg-3">
              <p-accordion [multiple]="true" styleClass="be-accordion-block">
                <p-accordionTab [selected]="true" header="SINGLE ACCORDION TAB 33">
                  <div class="p-grid">
                    <div class="p-col-4">
                      <div class="be-label-wrapper">
                        <label class="be-label" for="simple-card-input33{{additive}}">{{ 'PAY_TARGET' | translate }}
                          <ng-container *ngIf="false&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                        </label>
                      </div>
                    </div>
                    <div class="p-col-8">
                      <div class="be-input-button-wrapper-v2">
                        <input class="be-input-field" pInputText id="simple-card-input33{{additive}}" name="simple-card-input33{{additive}}" type="text" [disabled]="flags.editingModeOff">
                        <button class="be-input-button fat-button" pButton type="button" icon="pi pi-ellipsis-h" [disabled]="flags.editingModeOff"></button>
                      </div>
                    </div>
                  </div>
                </p-accordionTab>
              </p-accordion>
            </div>
            <div class="be-accordion be-accordiontab-single p-col-12 p-md-6 p-lg-3">
              <p-accordion [multiple]="true" styleClass="be-accordion-block">
                <p-accordionTab [selected]="true" header="SINGLE ACCORDION TAB 44">
                  <div class="p-grid">
                    <div class="p-col-4">
                      <div class="be-label-wrapper">
                        <label class="be-label" for="simple-card-44{{additive}}">{{ 'IBAN_CODE' | translate }}
                          <ng-container *ngIf="false&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
                        </label>
                      </div>
                    </div>
                    <div class="p-col-8">
                      <div class="be-input-button-wrapper-v2">
                        <input class="be-input-field" pInputText id="simple-card-44{{additive}}" name="simple-card-44{{additive}}" type="text" [disabled]="flags.editingModeOff">
                        <button class="be-input-button fat-button" pButton type="button" icon="pi pi-ellipsis-h" [disabled]="flags.editingModeOff"></button>
                      </div>
                    </div>
                  </div>
                </p-accordionTab>
              </p-accordion>
            </div>
          </div>
          <app-simple-card-second [additive]="'zzz'"></app-simple-card-second>
        </p-accordion>
      </div>
    </div>
  </div>
</div>
<p-dialog [modal]="true" appendTo="body" [maximizable]="true" [(visible)]="showCloseWindow">
  <p-header><span>{{ 'ATTENTION' | translate }}</span></p-header>
  <p>{{ 'CLOSE_MSG' | translate }}</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="showCloseWindow=false; changeAnimationState('close')" label="{{ 'BTN_CONFIRM' | translate }}"></button>
    <button class="ui-button-secondary" type="button" pButton icon="pi pi-close" (click)="showCloseWindow=false" label="{{ 'BTN_CANCEL' | translate }}"></button>
  </p-footer>
</p-dialog>
<app-simple-card *ngIf="showNewWindow" (closeCard)="showNewWindow=false" [additive]="'qqq'"></app-simple-card>
<p-dialog [modal]="true" appendTo="body" [maximizable]="true" [(visible)]="displayDialogInfo">
  <p-header><span>{{ 'ATTENTION' | translate }}</span></p-header>
  <p>{{ 'SAVED_MSG' | translate }}</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="displayDialogInfo=false;" label="{{ 'BTN_CLOSE' | translate}}"></button>
  </p-footer>
</p-dialog>