
<div class="be-accordion p-col-12">
  <p-accordion [multiple]="true" styleClass="be-accordion-block">
    <p-accordionTab [selected]="true" header="Таблица Users 3">
      <app-users-grid></app-users-grid>
    </p-accordionTab>
    <p-accordionTab [selected]="true" header="Таблица Unknown Users">
      <app-unknown-grid></app-unknown-grid>
    </p-accordionTab>
    <p-accordionTab [selected]="true" header="Таблица Users 3">
      <app-users-grid></app-users-grid>
    </p-accordionTab>
    <p-accordionTab [selected]="true" header="Закладки">
      <p-toggleButton onLabel="" offLabel="" offIcon="pi pi-search-plus" onIcon="pi pi-search-minus" (onChange)="clickToggleButton($event)"></p-toggleButton>
      <p-tabView>
        <p-tabPanel header="Godfather I" leftIcon="pi pi-calendar">
          <p>The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.</p>
        </p-tabPanel>
        <p-tabPanel header="Godfather II" leftIcon="pi pi-inbox">
          <p>Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.</p>
          <p-chart height="300px" type="line" [data]="dataLineChart" (onDataSelect)="selectData($event)"></p-chart>
        </p-tabPanel>
        <p-tabPanel header="Godfather III" leftIcon="pi pi-user" rightIcon="pi pi-star" [disabled]="true">
          <p>After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.</p>
        </p-tabPanel>
      </p-tabView>
    </p-accordionTab>
    <p-accordionTab [selected]="true" header="Таблица Users 4">
      <app-users-grid></app-users-grid>
    </p-accordionTab>
    <p-accordionTab [selected]="true" header="Таблица Users 5">
      <app-users-grid></app-users-grid>
    </p-accordionTab>
    <div class="p-grid p-nogutter">
      <div class="p-col-6 ui-md-12 ui-lg-6">
        <p-accordionTab [selected]="true" header="График">
          <p-toggleButton onLabel="" offLabel="" offIcon="pi pi-search-plus" onIcon="pi pi-search-minus" (onChange)="clickToggleButton($event)"></p-toggleButton>
          <p-chart type="line" [data]="dataLineChart" (onDataSelect)="selectData($event)"></p-chart>
        </p-accordionTab>
      </div>
      <div class="p-col-6 ui-md-12 ui-lg-6">
        <p-accordionTab [selected]="true" header="График">
          <p-toggleButton onLabel="" offLabel="" offIcon="pi pi-search-plus" onIcon="pi pi-search-minus" (onChange)="clickToggleButton($event)"></p-toggleButton>
          <p-chart type="line" [data]="dataLineChart" (onDataSelect)="selectData($event)"></p-chart>
        </p-accordionTab>
      </div>
    </div>
  </p-accordion>
</div>