include ../../share/mixins/_mixins.pug
+column-row
  +accordionTab-single("SINGLE ACCORDION TAB 44", "12")
    +accordionBlockMenu()
    +form-row
      +label-block("simple-card-picker1", 4, "CUSTOMER_NAME", "true")
      +search-picker-v2("simple-card-picker2", 8, null, "flags.editingModeOff")
