
<div class="p-grid p-nogutter">
  <div class="be-accordion be-accordiontab-single p-col-12">
    <p-accordion [multiple]="true" styleClass="be-accordion-block">
      <p-accordionTab [selected]="true" header="SINGLE ACCORDION TAB 44">
        <div class="p-grid p-nogutter">
          <div class="p-col-12">
            <button class="ui-button-secondary" pButton type="button" (click)="setLockFields(false)" [disabled]="!flags.editingModeOff" icon="pi pi-pencil"></button>
            <button class="ui-button-secondary" pButton type="button" (click)="saveCard(); setLockFields(true)" [disabled]="flags.editingModeOff" icon="pi pi-save"></button>
            <button class="ui-button-secondary" pButton type="button" (click)="renewCard(); setLockFields(true)" [disabled]="flags.editingModeOff" icon="pi pi-times-circle"></button>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-4">
            <div class="be-label-wrapper">
              <label class="be-label" for="simple-card-picker1{{additive}}">{{ 'CUSTOMER_NAME' | translate }}
                <ng-container *ngIf="true&amp;&amp; !flags.editingModeOff"><span class="be-mandatory"><i class="pi pi-exclamation-triangle"></i></span></ng-container>
              </label>
            </div>
          </div>
          <div class="p-col-8">
            <div class="p-grid p-nogutter be-searchpicker-wrapper-v3">
              <div class="p-col-4">
                <input class="be-searchpicker-first" id="simple-card-picker2{{additive}}" name="simple-card-picker2{{additive}}" type="text" pInputText [disabled]="flags.editingModeOff">
              </div>
              <div class="p-col-8">
                <div class="be-input-button-wrapper">
                  <input class="be-searchpicker-second be-input-field" id="simple-card-picker2{{additive}}_description" name="simple-card-picker2{{additive}}_description" type="text" pInputText disabled="true">
                  <button class="ui-button be-input-button" pButton type="button" icon="pi pi-ellipsis-h" [disabled]="flags.editingModeOff"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>