.move-content-rigth {
  transition: all 0.6s cubic-bezier(.44,.05,.55,.95);
  // transform: translateX(300px);
  padding-left: 300px;;
}
.move-content-left {
  transition: all 0.6s cubic-bezier(.44,.05,.55,.95);
}
