//- обертка для строки формы (в строке должны размещается описание + поле ввода)
mixin form-row
  div(class="p-grid")&attributes(attributes)
    block

//- обертка для строки колонок (в строке размещаются колонки (column) )
mixin column-row
  div(class="p-grid p-nogutter")&attributes(attributes)
    block

//- обертка для колонки
mixin column(blockWidth=12)
  div(class="p-col-" + blockWidth)&attributes(attributes)
    block

//- поле инпута
mixin input-simple(controlId, blockWidth, model, disabled=null, focusoutInput=null)
  - var controlId = controlId + "{{additive}}"
  div(class="p-col-" + blockWidth)
    input(
      id=controlId,
      name=controlId,
      class="be-input-text",
      type="text",
      pInputText,
      [(ngModel)]=model,
      [disabled]=disabled,
      (focusout)=focusoutInput
      )&attributes(attributes)

//- подпись поля
mixin label-block(controlId, blockWidth, text, flag="false")
  - var controlId = controlId + "{{additive}}"
  div(class="p-col-" + blockWidth)
    div(class="be-label-wrapper")
      label(class="be-label", for=controlId) {{ '!{text}' | translate }}
        ng-container(*ngIf=flag + '&& !flags.editingModeOff')
          span(class="be-mandatory")
            i(class="pi pi-exclamation-triangle")

//- поле инпут с отдельной большой кнопкой
mixin input-with-separate-fat-button(controlId, blockWidth, model, disabled, buttonAction=null, buttonIcon="pi pi-ellipsis-h")
  - var controlId = controlId + "{{additive}}"
  div(class="p-col-"+ blockWidth)
    div(class="be-input-button-wrapper-v2")
      input(
        pInputText,
        id=controlId,
        name=controlId,
        class="be-input-field",
        type="text",
        [(ngModel)]=model,
        [disabled]=disabled
        )&attributes(attributes)
      button(
        pButton,
        class="be-input-button fat-button",
        type="button",
        icon=buttonIcon,
        (click)=buttonAction,
        [disabled]=disabled,
        )

//- поле инпут с маленькой кнопкой
mixin input-with-united-button(controlId, blockWidth, model, disabled=null, buttonAction=null, buttonIcon="pi pi-ellipsis-h")
  - var controlId = controlId + "{{additive}}"
  div(class="p-col-"+ blockWidth)
    div(class="be-input-button-wrapper")
      input(
        pInputText,
        id=controlId,
        class="be-input-field",
        name=controlId,
        type="text",
        [(ngModel)]=model,
        [disabled]=disabled
        )&attributes(attributes)
      button(
        pButton,
        class="be-input-button",
        type="button",
        icon=buttonIcon,
        (click)=buttonAction,
        [disabled]=disabled,
        )

//- компонент searchpicker (не разделенные поля, поле ввода + поле отображающе описани + кнопка)
mixin search-picker(controlId, blockWidth, model, disabled=null, buttonAction=null, buttonIcon="pi pi-ellipsis-h", widthFirst=4, widthSecond=8)
  - var controlId = controlId + "{{additive}}"
  div(class="p-col-" + blockWidth)
    div(class="p-grid p-nogutter be-searchpicker-wrapper-v2")
      div(class="p-col-" + widthFirst)
        input(
          id=controlId,
          name=controlId,
          class="be-searchpicker-first",
          type="text",
          pInputText,
          [(ngModel)]=model,
          [disabled]=disabled
          )&attributes(attributes)
      div(class="p-col-" + widthSecond)
        div(class="be-input-button-wrapper")
          input(
            id=controlId + "_description",
            name=controlId + "_description",
            class="be-searchpicker-second be-input-field",
            type="text",
            pInputText,
            disabled="true"
          )
          button(
            pButton,
            class="ui-button be-input-button",
            type="button",
            icon=buttonIcon,
            [disabled]=disabled,
            (click)=buttonAction
            )

//- компонент searchpicker (разделенные поля, поле ввода + поле отображающе описани + кнопка)
mixin search-picker-v2(controlId, blockWidth, model, disabled=null, buttonAction=null, buttonIcon="pi pi-ellipsis-h", widthFirst=4, widthSecond=8)
  - var controlId = controlId + "{{additive}}"
  div(class="p-col-" + blockWidth)
    div(class="p-grid p-nogutter be-searchpicker-wrapper-v3")
      div(class="p-col-" + widthFirst)
        input(
          id=controlId,
          name=controlId,
          class="be-searchpicker-first",
          type="text",
          pInputText,
          [(ngModel)]=model,
          [disabled]=disabled
          )&attributes(attributes)
      div(class="p-col-" + widthSecond)
        div(class="be-input-button-wrapper")
          input(
            id=controlId + "_description",
            name=controlId + "_description",
            class="be-searchpicker-second be-input-field",
            type="text",
            pInputText,
            disabled="true"
          )
          button(
            pButton,
            class="ui-button be-input-button",
            type="button",
            icon=buttonIcon,
            [disabled]=disabled,
            (click)=buttonAction
            )

//- простой выпадающий список
mixin dropdown-simple(controlId, blockWidth, model, list, disabled=null)
  - var controlId = controlId + "{{additive}}"
  div(class="p-col-" + blockWidth)
    p-dropdown(
      inputId=controlId,
      styleClass="be-dropdown",
      [options]=list,
      [(ngModel)]=model,
      [showClear]="false",
      dropdownIcon="pi pi-caret-down",
      [disabled]=disabled,
      scrollHeight="200px"
      )&attributes(attributes)

//- компонент выпадающий список с полем ввода (не разделены)
mixin search-picker-bropdown(controlId, blockWidth, modelInput, modelDropdown, list, disabled=null, focusoutInput=null, dropdowChange=null, inputWidth=4, dropdownWidth=8)
  - var controlId = controlId + "{{additive}}"
  div(class="p-col-" + blockWidth)
    div(class="p-grid p-nogutter be-dropdown-picker-wrapper")
      div(class="p-col-" + inputWidth)
        input(
          id=controlId,
          name=controlId,
          class="be-dropdown-picker-first",
          type="text",
          [(ngModel)]=modelInput,
          pInputText,
          [disabled]=disabled,
          (focusout)=focusoutInput
          )&attributes(attributes)
      div(class="p-col-" + dropdownWidth)
        p-dropdown(
          inputId=controlId + "_dropdown",
          styleClass="be-dropdown be-dropdown-picker",
          [options]=list,
          [(ngModel)]=modelDropdown,
          [showClear]="false",
          dropdownIcon="pi pi-caret-down",
          [disabled]=disabled,
          (onChange)=dropdowChange,
          scrollHeight="150px"
          )

//- компонент выпадающий список с полем ввода (разделены)
mixin search-picker-bropdown-v2(controlId, blockWidth, modelInput, modelDropdown, list, disabled=null, focusoutInput=null, dropdowChange=null, inputWidth=4, dropdownWidth=8)
  - var controlId = controlId + "{{additive}}"
  div(class="p-col-" + blockWidth)
    div(class="p-grid p-nogutter be-dropdown-picker-wrapper-v2")
      div(class="p-col-" + inputWidth)
        input(
          id=controlId,
          name=controlId,
          class="be-dropdown-picker-first",
          styleClass="be-dropdown be-dropdown-picker"
          type="text",
          [(ngModel)]=modelInput,
          pInputText,
          [disabled]=disabled,
          (focusout)=focusoutInput
          )&attributes(attributes)
      div(class="be-dropdown-picker-block p-col-" + dropdownWidth)
        p-dropdown(
          inputId=controlId + "_dropdown",
          styleClass="be-dropdown be-dropdown-picker",
          [options]=list,
          [(ngModel)]=modelDropdown,
          [showClear]="false",
          dropdownIcon="pi pi-caret-down",
          [disabled]=disabled,
          (onChange)=dropdowChange,
          scrollHeight="150px"
          )

//- календарь
mixin date-picker(controlId, blockWidth, model, disabled=null)
  - var controlId = controlId + "{{additive}}"
  div(class="p-col-" + blockWidth)
    p-calendar(
      inputId=controlId,
      [(ngModel)]=model,
      [showIcon]="true",
      styleClass="be-calendar-wrapper",
      inputStyleClass="be-calendar",
      [showOnFocus]="false",
      [disabled]=disabled
    )&attributes(attributes)

//- календарь с отдельной кнопкой
mixin date-picker-with-button(controlId, blockWidth, model, disabled=null, buttonAction=null, buttonIcon="pi pi-ellipsis-h")
  - var controlId = controlId + "{{additive}}"
  div(class="p-col-" + blockWidth)
    div(class="be-calendar-wrapper-v2")
      p-calendar(
        inputId=controlId,
        [(ngModel)]=model,
        [showIcon]="true",
        styleClass="be-calendar-wrapper",
        inputStyleClass="be-calendar",
        [showOnFocus]="false",
        [disabled]=disabled
      )&attributes(attributes)
      button(
        class="be-input-button be-button-fat",
        type="button",
        pButton,
        icon=buttonIcon,
        (click)=buttonAction,
        [disabled]=disabled
        )

//- карточка оберка
mixin modal-card-universal()
  div(class="be-modal-card-overlay", [@modalCard]="animatoState", (@modalCard.done)="animationDone($event)")
    div(class="be-modal-card-content-wrapper")
      div(class="be-modal-card-button-wrapper p-grid p-nogutter")
        div(class="p-col-12")
          button(pButton, type="button", (click)="startCloseCard()", icon="pi pi-times", class="ui-button-secondary")
          button(pButton, type="button", label="{{'COLLAPSE_ALL' | translate}}", class="ui-button-secondary", (click)="collapseOpennedAccordions($event)")
      div(class="p-grid")
        block
  +modal-dialog-close()

//- блок обертка аккардионов (accordion)
mixin accordionBlock(columnWidth=12, actionOnOpen=null)
  div(class="be-accordion p-col-" + columnWidth)
      p-accordion(
        [multiple]="true",
        (onOpen)=actionOnOpen,
        styleClass="be-accordion-block"
        )
        block

//- блок аккардиона в котором выводится информация (accordionTab используется внутри accordion)
mixin accordionTab(header, selected="true")
  p-accordionTab([selected]=selected, header=header)
    block

//- блок аккордин с заголовком одним общим блоком и блоком вывода информации
//- тоже самое что и accordionBlock + accordionTab
mixin accordionTab-single(header, columnWidth=12, selected="true", actionOnOpen=null)
  div(class="be-accordion be-accordiontab-single p-col-" + columnWidth)
    p-accordion(
      [multiple]="true",
      (onOpen)=actionOnOpen,
      styleClass="be-accordion-block"
      )
      p-accordionTab([selected]=selected, header=header)
        block

//- кнопки меню блока (редактировать, сохранить, отменить)
mixin accordionBlockMenu(flag="flags.editingModeOff")
  div(class="p-grid p-nogutter")
    div(class="p-col-12")
      button(pButton, type="button", (click)="setLockFields(false)", [disabled]="!"+flag, icon="pi pi-pencil", class="ui-button-secondary")
      button(pButton, type="button", (click)="saveCard(); setLockFields(true)", [disabled]=flag, icon="pi pi-save", class="ui-button-secondary")
      button(pButton, type="button", (click)="renewCard(); setLockFields(true)", [disabled]=flag, icon="pi pi-times-circle", class="ui-button-secondary")


//- информационной модальное окно с двумя кнопками
mixin modal-dialog-choice(header, message, actionYes=null, actionNo=null, visible="displayDialogChoice")
  p-dialog([modal]="true", appendTo="body", [maximizable]="true", [(visible)]=visible)
    p-header
      span {{ '!{header}' | translate }}
    p {{ '!{message}' | translate }}
    p-footer
      button(type="button", pButton, icon="pi pi-check", (click)=visible + "=false;" + actionYes, label="{{ 'BTN_CONFIRM' | translate }}")
      button(type="button", pButton, icon="pi pi-close", (click)=visible + "=false;" + actionNo, label="{{ 'BTN_CANCEL' | translate}}", class="ui-button-secondary")

//- информационной модальное окно с одной кнопкой
mixin modal-dialog-information(header, message, actionButton=null, visible="displayDialogInfo")
  p-dialog([modal]="true", appendTo="body", [maximizable]="true", [(visible)]="displayDialogInfo")
    p-header
      span {{ '!{header}' | translate }}
    p {{ '!{message}' | translate }}
    p-footer
      button(type="button", pButton, icon="pi pi-check", (click)="displayDialogInfo=false;" + actionButton, label="{{ 'BTN_CLOSE' | translate}}")


mixin modal-dialog-saved()
  p-dialog([modal]="true", appendTo="body", [maximizable]="true", [(visible)]="showIsSaved")
    p-header
      span Save
    p Information was saved
    p-footer
      button(type="button", pButton, icon="pi pi-check", (click)="showIsSaved=false; actionAfterSave()", label="Close")

//- сообщение при закрытии карточки
mixin modal-dialog-close()
  p-dialog([modal]="true", appendTo="body", [maximizable]="true", [(visible)]="showCloseWindow")
    p-header
      span {{ 'ATTENTION' | translate }}
    p {{ 'CLOSE_MSG' | translate }}
    p-footer
      button(type="button", pButton, icon="pi pi-check", (click)="showCloseWindow=false; changeAnimationState('close')", label="{{ 'BTN_CONFIRM' | translate }}")
      button(type="button", pButton, icon="pi pi-close", (click)="showCloseWindow=false", label="{{ 'BTN_CANCEL' | translate }}", class="ui-button-secondary")

//- popup сообщения выводящиеся в правом верхнем углу экрана
mixin p-toast-message
  p-toast(showTransitionOptions="300ms ease-out", hideTransitionOptions="250ms ease-in", key="popup", styleClass="pop-up-notification-message")&attributes(attributes)
    ng-template(let-message, pTemplate="message")
      div.p-toast-title
        h3 {{message.summary | translate}}
      div.p-toast-content
        span([innerHTML]="message.detail | translate")
