<p>grid01 works!</p>
<div class="p-grid be-p-grid">
  <div class="p-col-12 p-md-12 p-lg-6">
    <p-accordion [multiple]="true">
      <p-accordionTab [selected]="true" header="Таблица 1">
        <p-button icon="pi pi-angle-up" (click)="action('up')"></p-button>
        <p-button icon="pi pi-angle-down" (click)="action('down')"></p-button>
        <p-button icon="pi pi-check" (click)="save()"></p-button>
        <p-table
        [columns]="cols"
        [value]="data"
        selectionMode="single"
        [paginator]="true"
        [rows]="3"
        [responsive]="true"
        [resizableColumns]="true"
        [reorderableColumns]="true"
        [(selection)]="selectedItem"
        (onRowSelect)="rowSelect($event)"
        >
          <ng-template pTemplate="header" let-columns >
            <tr>
              <th *ngFor="let col of columns" pResizableColumn pReorderableColumn>
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" >
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
      <p-accordionTab [selected]="true" header="Chart 1">
        <p-chart type="bar" [data]="dataChart"></p-chart>
      </p-accordionTab>
      <p-accordionTab [selected]="true" header="Polar Chart">
        <p-chart type="polarArea" [data]="dataPolar"></p-chart>
      </p-accordionTab>
    </p-accordion>
  </div>

  <div class="p-col-12 p-md-12 p-lg-6">
    <p-accordion [multiple]="true">
      <p-accordionTab [selected]="true" header="Таблица 2">
        <!-- <p-button icon="pi pi-angle-up" (click)="action('up')"></p-button>
        <p-button icon="pi pi-angle-down" (click)="action('down')"></p-button>
        <p-button icon="pi pi-check" (click)="save()"></p-button>
        <p-table [columns]="cols" [value]="data" selectionMode="single" [(selection)]="selectedItem" (onRowSelect)="rowSelect($event)">
          <ng-template pTemplate="header" let-columns >
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" >
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table> -->
        <app-users-grid></app-users-grid>
      </p-accordionTab>
      <p-accordionTab [selected]="true" header="Block 1">
        <div class="p-grid">
            <div class="p-col-4">
              Date with separate button
            </div>
            <div class="p-col-8">
              <div class="be-calendar-wrapper-v2">
                <p-calendar [(ngModel)]="date8" [showTime]="true" [showIcon]="true" styleClass="be-calendar-wrapper" inputStyleClass="be-calendar"></p-calendar>
                <button class="be-input-button be-button-fat" type="button" pButton icon="pi pi-home"></button>
              </div>
            </div>

            <div class="p-col-4">
              <label class="be-label" for="date2">
                Date 2
              </label>
            </div>
            <div class="p-col-8">
              <p-calendar inputId="date2" name="date2" styleClass="be-calendar-wrapper" inputStyleClass="be-calendar" [(ngModel)]="date8" [showTime]="true" [showIcon]="true"></p-calendar>
            </div>


          <div class="p-col-4">
            <div class="be-label-wrapper">
              <label class="be-label" for="input1">
                Input 1 with united button
              </label>
            </div>
          </div>
          <div class="p-col-8">
            <div class="be-input-button-wrapper">
              <input id="input1" name="input1" class="be-input-field" type="text" size="30" pInputText placeholder="Input 1" />
              <button class="be-input-button" type="button" pButton icon="pi pi-ellipsis-h"></button>
            </div>
          </div>

          <div class="p-col-4">
            <label class="be-label" for="input2">
              Input 2 with united button
            </label>
          </div>
          <div class="p-col-8">
            <div class="be-input-button-wrapper">
              <input id="input2" name="input2" class="be-input-field" type="text" size="30" pInputText placeholder="Input 2" />
              <button class="be-input-button" type="button" pButton icon="pi pi-home"></button>
            </div>
          </div>

          <div class="p-col-4">
            <label class="be-label" for="input3">
              Input 3 with separate button
            </label>
          </div>
          <div class="p-col-8">
            <div class="be-input-button-wrapper-v2">
              <input id="input3" name="input3" class="be-input-field" type="text" size="30" pInputText placeholder="Input 2" />
              <button class="be-input-button fat-button" type="button" (click)="showSimpleCard=true" pButton icon="pi pi-info-circle"></button>
            </div>
          </div>



            <div class="p-col-4">
              <label class="be-label" for="searchpicker1">
                Searchpicker 1
              </label>
            </div>
            <div class="p-col-8">
              <div class="be-p-grid be-searchpicker-wrapper">
                <input id="searchpicker1" name="searchpicker1" class="p-col-4 be-first" type="text" size="30" pInputText placeholder="Searchpicker 1" />
                <input id="searchpicker1_description" name="searchpicker1_description" class="p-col-8 be-second" type="text" size="30" pInputText placeholder="Searchpicker 1 disabled" [disabled]="true" />
                <button class="ui-button be-picker-button" icon="pi pi-ellipsis-h" pButton type="button"></button>
              </div>
            </div>


            <div class="p-col-4">
              <label class="be-label" for="searchpicker2">
                Searchpicker 2
              </label>
            </div>
            <div class="p-col-8">
              <div class="p-grid p-nogutter be-searchpicker-wrapper-v2">
                <div class="p-col-4">
                  <input id="searchpicker2" name="searchpicker2" class="be-searchpicker-first" type="text" size="30" pInputText placeholder="Searchpicker 2" />
                </div>
                <div class="p-col-8">
                  <div class="be-input-button-wrapper">
                    <input id="searchpicker2_description" name="searchpicker2_description" class="be-searchpicker-second be-input-field" type="text" size="30" pInputText placeholder="Searchpicker 2" />
                    <button class="ui-button be-input-button" type="button" pButton icon="pi pi-ellipsis-h"></button>
                  </div>
                </div>
              </div>
            </div>

            <div class="p-col-4">
              <label class="be-label" for="searchpicker3">
                Searchpicker 3
              </label>
            </div>
            <div class="p-col-8">
              <div class="p-grid p-nogutter be-searchpicker-wrapper-v3">
                <div class="p-col-4">
                  <input id="searchpicker3" name="searchpicker3" class="be-searchpicker-first" type="text" size="30" pInputText placeholder="Searchpicker 2" />
                </div>
                <div class="p-col-8">
                  <div class="be-input-button-wrapper">
                    <input id="searchpicker3_description" name="searchpicker3_description" class="be-searchpicker-second be-input-field" type="text" size="30" pInputText placeholder="Searchpicker 3" />
                    <button class="ui-button be-input-button" type="button" pButton icon="pi pi-ellipsis-h"></button>
                  </div>
                </div>
              </div>
            </div>

            <div class="p-col-4">
              <label for="sinput1">
                Simple Input
              </label>
            </div>
            <div class="p-col-8">
              <input id="sinput1" name="sinput1" class="be-input-text" type="text" pInputText placeholder="Username">
            </div>


            <div class="p-col-4">
              <label for="dropdown1">
                Dropdown 1
              </label>
            </div>

            <div class="p-col-8">
              <p-dropdown inputId="dropdown1" styleClass="be-dropdown" [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name" [showClear]="false"></p-dropdown>
            </div>

            <div class="p-col-4">
              <label for="dropdown2">
                Dropdown Picker
              </label>
            </div>
            <div class="p-col-8">
              <div class="p-grid p-nogutter be-dropdown-picker-wrapper">
                <div class="p-col-4">
                  <input id="dropdown2" name="dropdown2" class="be-dropdown-picker-first" type="text" size="30" pInputText placeholder="Searchpicker 2" />
                </div>
                <div class="p-col-8">
                  <p-dropdown inputId="dropdown2" styleClass="be-dropdown be-dropdown-picker" [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name" [showClear]="false"></p-dropdown>
                </div>
              </div>
            </div>

            <div class="p-col-4">
              <label for="dropdown3">
                Dropdown Picker
              </label>
            </div>
            <div class="p-col-8">
              <div class="p-grid p-nogutter be-dropdown-picker-wrapper-v2">
                <div class="p-col-4">
                  <input id="dropdown3" name="dropdown3" class="be-dropdown-picker-first" type="text" size="30" pInputText placeholder="Searchpicker 3" />
                </div>
                <div class="p-col-8 be-dropdown-picker-block">
                  <p-dropdown inputId="dropdown3" styleClass="be-dropdown be-dropdown-picker" [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name" [showClear]="false"></p-dropdown>
                </div>
              </div>
            </div>

          <div class="p-col-4">
            <div class="">
              <p-radioButton name="group1" value="Option 1" label="Option 1" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
            </div>
            <div class="">
              <p-radioButton name="group1" value="Option 2" label="Option 2" [(ngModel)]="val1" inputId="opt2"></p-radioButton>
            </div>
            <div class="">
              <p-radioButton name="group1" value="Option 3" label="Option 3" [(ngModel)]="val1" inputId="opt3"></p-radioButton>
            </div>
          </div>
          <div class="p-col-4">
            <div class="">
              <p-checkbox name="group2" value="Technology" label="Technology" [(ngModel)]="selectedCategories" inputId="technology"></p-checkbox>
            </div>
            <div class="">
              <p-checkbox name="group2" value="Finance" label="Finance" [(ngModel)]="selectedCategories" inputId="finance"></p-checkbox>
            </div>
            <div class="">
              <p-checkbox name="group2" value="Sports" label="Sports" [(ngModel)]="selectedCategories" inputId="sports" [disabled]="true"></p-checkbox>
            </div>
            <div class="">
              <p-checkbox name="group2" value="Entertainment" label="Entertainment" [(ngModel)]="selectedCategories" inputId="entertainment"></p-checkbox>
            </div>
          </div>
          <div class="p-col-4">
            <div class="">
              <p-radioButton name="group11" value="Option 11" label="Option 11" [(ngModel)]="val2" inputId="opt1" [disabled]="true"></p-radioButton>
            </div>
            <div class="">
              <p-radioButton name="group11" value="Option 22" label="Option 22" [(ngModel)]="val2" inputId="opt2" [disabled]="true"></p-radioButton>
            </div>
            <div class="">
              <p-radioButton name="group11" value="Option 33" label="Option 33" [(ngModel)]="val2" inputId="opt3"></p-radioButton>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>

<app-simple-card (closeCard)="closeCard($event)" *ngIf="showSimpleCard"></app-simple-card>
