<div id="header-wrapper">
  <div class="holiday-banner" [ngClass]="holidayAdditionalClass" [ngSwitch]="holidayAdditionalClass">
    <ng-container *ngSwitchCase="'spring-banner'">
      <ng-container *ngTemplateOutlet="springBanner"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'new-year-banner'">
      <ng-container *ngTemplateOutlet="newYearBanner"></ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <ng-container *ngTemplateOutlet="defaultBanner"></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #newYearBanner>
  <div class="new-year-banner-container">
    <img class="santa" alt="New Year" src="assets/images/new-year/endofyear.png">
  </div>
</ng-template>

<ng-template #springBanner>
  <div class="spring-banner-container">
  </div>
</ng-template>

<ng-template #defaultBanner>
  <div class="default-banner-container">
  </div>
</ng-template>