
<div class="be-table-block-wrapper">
  <div class="be-table-block-content">
    <p-toggleButton onLabel="" offLabel="" offIcon="pi pi-search-plus" onIcon="pi pi-search-minus" (onChange)="clickToggleButton($event)"></p-toggleButton>
    <p-table [scrollable]="isScrollableGrid" [scrollHeight]="scrollHeightGrid" styleClass="be-table" [columns]="cols" [first]="first" [paginator]="true" [rows]="10" [value]="dataGrid" selectionMode="single" lazy="true" [resizableColumns]="true" [(selection)]="selectedItem" (onRowSelect)="rowSelect($event)">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" pResizableColumn><span>{{col.header | translate}}</span></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" (dblclick)="selectedCards=[rowData]; handleRowDblclick($event)">
          <td *ngFor="let col of columns"><span>{{rowData[col.field]}}</span></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>