include ../../share/mixins/_tables.pug
+data-table-standart()

//- <div class="be-table-block-wrapper">
//-   <div class="be-table-block-content">
//-     <div class="be-button-table-wrapper">
//-       <p-toggleButton onLabel="" offLabel="" offIcon="pi pi-search-plus" onIcon="pi pi-search-minus" (onChange)="clickToggleButton($event)"></p-toggleButton>
//-       <button pButton type="button" label="reload" (click)="reload()"></button>
//-       <button pButton type="button" label="dialog Text" (click)="showDialog()"></button>
//-       <button pButton type="button" label="dialog Grid" (click)="showDialog2()"></button>
//-     </div>
//-     <p-table
//-     [scrollable]="isScrollableGrid"
//-     [scrollHeight]="scrollHeightGrid"
//-     styleClass="be-table"
//-     [columns]="cols"
//-     [first]="first"
//-     [paginator]="true"
//-     [rows]="10"
//-     [value]="dataGrid"
//-     selectionMode="single"
//-     [lazy]="true"
//-     [resizableColumns]="true"
//-     [(selection)]="selectedItem"
//-     (onRowSelect)="rowSelect($event)"
//-     >
//-       <ng-template pTemplate="colgroup" let-columns>
//-         <colgroup>
//-             <col *ngFor="let col of columns" style="width: 250px;">
//-         </colgroup>
//-       </ng-template>
//-       <ng-template pTemplate="header" let-columns >
//-         <tr>
//-           <th *ngFor="let col of columns" pResizableColumn>
//-             {{col.header}}
//-           </th>
//-         </tr>
//-       </ng-template>
//-       <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
//-         <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" >
//-           <td *ngFor="let col of columns">
//-             {{rowData[col.field]}}
//-           </td>
//-         </tr>
//-       </ng-template>
//-     </p-table>
//-     <div>
//-       <p-accordion [multiple]="true">
//-       <p-accordionTab [selected]="false" header="Закладки">
//-     <div>
//-       Для поиска элементов в DOM ангуляр предоставляет ряд декораторов — @ViewChild/@ViewChildren и>
//-       @ViewChildren/@ContentChildren. Директива @ViewChild отличается от @ViewChildren тем, что первая
//-       всегда вернет вам только один элемент, в то время как вторая позволяет вам находить несколько элементов, возвращая вам объект типа QueryList.
//-       QueryList представляет из себя итерируемый интерфейс, а также позволяет подписываться на
//-       изменение элементов через механизм Observable. Декораторы @ViewChildren и @ContentChildren
//-       необходимо использовать в обработчике ngAfterViewInit жизненного цикла компонента, так как раньше QuryList просто будет не определен.
//-       Пара директив>@ViewChildren/@ContentChildren ведет себя аналогичным образом и отличается от связки
//-       @ViewChild/@ViewChildren только тем, что>@ViewChildren ищет элементы просто в DOM-дереве, в то время как @ViewChild ищет элементы в ShadowDom. В данной статье для простоты мы не будет рассматривать связку>@ViewChildren/@ContentChildren, а также ограничимся только @ViewChild-декоратором, так как не будем использовать несколько элементов. Для поиска элементов мы воспользуемся следующим синтаксисом @ViewChild:
//-       Для поиска элементов в DOM ангуляр предоставляет ряд декораторов — @ViewChild/@ViewChildren и>
//-       @ViewChildren/@ContentChildren. Директива @ViewChild отличается от @ViewChildren тем, что первая
//-       всегда вернет вам только один элемент, в то время как вторая позволяет вам находить несколько элементов, возвращая вам объект типа QueryList.
//-       QueryList представляет из себя итерируемый интерфейс, а также позволяет подписываться на
//-       изменение элементов через механизм Observable. Декораторы @ViewChildren и @ContentChildren
//-       необходимо использовать в обработчике ngAfterViewInit жизненного цикла компонента, так как раньше QuryList просто будет не определен.
//-       Пара директив>@ViewChildren/@ContentChildren ведет себя аналогичным образом и отличается от связки
//-       @ViewChild/@ViewChildren только тем, что>@ViewChildren ищет элементы просто в DOM-дереве, в то время как @ViewChild ищет элементы в ShadowDom. В данной статье для простоты мы не будет рассматривать связку>@ViewChildren/@ContentChildren, а также ограничимся только @ViewChild-декоратором, так как не будем использовать несколько элементов. Для поиска элементов мы воспользуемся следующим синтаксисом @ViewChild:
//-     </div>
//-     <div>
//-       Для поиска элементов в DOM ангуляр предоставляет ряд декораторов — @ViewChild/@ViewChildren и>
//-       @ViewChildren/@ContentChildren. Директива @ViewChild отличается от @ViewChildren тем, что первая
//-       всегда вернет вам только один элемент, в то время как вторая позволяет вам находить несколько элементов, возвращая вам объект типа QueryList.
//-       QueryList представляет из себя итерируемый интерфейс, а также позволяет подписываться на
//-       изменение элементов через механизм Observable. Декораторы @ViewChildren и @ContentChildren
//-       необходимо использовать в обработчике ngAfterViewInit жизненного цикла компонента, так как раньше QuryList просто будет не определен.
//-       Пара директив>@ViewChildren/@ContentChildren ведет себя аналогичным образом и отличается от связки
//-       @ViewChild/@ViewChildren только тем, что>@ViewChildren ищет элементы просто в DOM-дереве, в то время как @ViewChild ищет элементы в ShadowDom. В данной статье для простоты мы не будет рассматривать связку>@ViewChildren/@ContentChildren, а также ограничимся только @ViewChild-декоратором, так как не будем использовать несколько элементов. Для поиска элементов мы воспользуемся следующим синтаксисом @ViewChild:
//-       Для поиска элементов в DOM ангуляр предоставляет ряд декораторов — @ViewChild/@ViewChildren и>
//-       @ViewChildren/@ContentChildren. Директива @ViewChild отличается от @ViewChildren тем, что первая
//-       всегда вернет вам только один элемент, в то время как вторая позволяет вам находить несколько элементов, возвращая вам объект типа QueryList.
//-       QueryList представляет из себя итерируемый интерфейс, а также позволяет подписываться на
//-       изменение элементов через механизм Observable. Декораторы @ViewChildren и @ContentChildren
//-       необходимо использовать в обработчике ngAfterViewInit жизненного цикла компонента, так как раньше QuryList просто будет не определен.
//-       Пара директив>@ViewChildren/@ContentChildren ведет себя аналогичным образом и отличается от связки
//-       @ViewChild/@ViewChildren только тем, что>@ViewChildren ищет элементы просто в DOM-дереве, в то время как @ViewChild ищет элементы в ShadowDom. В данной статье для простоты мы не будет рассматривать связку>@ViewChildren/@ContentChildren, а также ограничимся только @ViewChild-декоратором, так как не будем использовать несколько элементов. Для поиска элементов мы воспользуемся следующим синтаксисом @ViewChild:
//-     </div>
//-     <div>
//-       Для поиска элементов в DOM ангуляр предоставляет ряд декораторов — @ViewChild/@ViewChildren и>
//-       @ViewChildren/@ContentChildren. Директива @ViewChild отличается от @ViewChildren тем, что первая
//-       всегда вернет вам только один элемент, в то время как вторая позволяет вам находить несколько элементов, возвращая вам объект типа QueryList.
//-       QueryList представляет из себя итерируемый интерфейс, а также позволяет подписываться на
//-       изменение элементов через механизм Observable. Декораторы @ViewChildren и @ContentChildren
//-       необходимо использовать в обработчике ngAfterViewInit жизненного цикла компонента, так как раньше QuryList просто будет не определен.
//-       Пара директив>@ViewChildren/@ContentChildren ведет себя аналогичным образом и отличается от связки
//-       @ViewChild/@ViewChildren только тем, что>@ViewChildren ищет элементы просто в DOM-дереве, в то время как @ViewChild ищет элементы в ShadowDom. В данной статье для простоты мы не будет рассматривать связку>@ViewChildren/@ContentChildren, а также ограничимся только @ViewChild-декоратором, так как не будем использовать несколько элементов. Для поиска элементов мы воспользуемся следующим синтаксисом @ViewChild:
//-       Для поиска элементов в DOM ангуляр предоставляет ряд декораторов — @ViewChild/@ViewChildren и>
//-       @ViewChildren/@ContentChildren. Директива @ViewChild отличается от @ViewChildren тем, что первая
//-       всегда вернет вам только один элемент, в то время как вторая позволяет вам находить несколько элементов, возвращая вам объект типа QueryList.
//-       QueryList представляет из себя итерируемый интерфейс, а также позволяет подписываться на
//-       изменение элементов через механизм Observable. Декораторы @ViewChildren и @ContentChildren
//-       необходимо использовать в обработчике ngAfterViewInit жизненного цикла компонента, так как раньше QuryList просто будет не определен.
//-       Пара директив>@ViewChildren/@ContentChildren ведет себя аналогичным образом и отличается от связки
//-       @ViewChild/@ViewChildren только тем, что>@ViewChildren ищет элементы просто в DOM-дереве, в то время как @ViewChild ищет элементы в ShadowDom. В данной статье для простоты мы не будет рассматривать связку>@ViewChildren/@ContentChildren, а также ограничимся только @ViewChild-декоратором, так как не будем использовать несколько элементов. Для поиска элементов мы воспользуемся следующим синтаксисом @ViewChild:
//-     </div>
//-     <div>
//-       Для поиска элементов в DOM ангуляр предоставляет ряд декораторов — @ViewChild/@ViewChildren и>
//-       @ViewChildren/@ContentChildren. Директива @ViewChild отличается от @ViewChildren тем, что первая
//-       всегда вернет вам только один элемент, в то время как вторая позволяет вам находить несколько элементов, возвращая вам объект типа QueryList.
//-       QueryList представляет из себя итерируемый интерфейс, а также позволяет подписываться на
//-       изменение элементов через механизм Observable. Декораторы @ViewChildren и @ContentChildren
//-       необходимо использовать в обработчике ngAfterViewInit жизненного цикла компонента, так как раньше QuryList просто будет не определен.
//-       Пара директив>@ViewChildren/@ContentChildren ведет себя аналогичным образом и отличается от связки
//-       @ViewChild/@ViewChildren только тем, что>@ViewChildren ищет элементы просто в DOM-дереве, в то время как @ViewChild ищет элементы в ShadowDom. В данной статье для простоты мы не будет рассматривать связку>@ViewChildren/@ContentChildren, а также ограничимся только @ViewChild-декоратором, так как не будем использовать несколько элементов. Для поиска элементов мы воспользуемся следующим синтаксисом @ViewChild:
//-       Для поиска элементов в DOM ангуляр предоставляет ряд декораторов — @ViewChild/@ViewChildren и>
//-       @ViewChildren/@ContentChildren. Директива @ViewChild отличается от @ViewChildren тем, что первая
//-       всегда вернет вам только один элемент, в то время как вторая позволяет вам находить несколько элементов, возвращая вам объект типа QueryList.
//-       QueryList представляет из себя итерируемый интерфейс, а также позволяет подписываться на
//-       изменение элементов через механизм Observable. Декораторы @ViewChildren и @ContentChildren
//-       необходимо использовать в обработчике ngAfterViewInit жизненного цикла компонента, так как раньше QuryList просто будет не определен.
//-       Пара директив>@ViewChildren/@ContentChildren ведет себя аналогичным образом и отличается от связки
//-       @ViewChild/@ViewChildren только тем, что>@ViewChildren ищет элементы просто в DOM-дереве, в то время как @ViewChild ищет элементы в ShadowDom. В данной статье для простоты мы не будет рассматривать связку>@ViewChildren/@ContentChildren, а также ограничимся только @ViewChild-декоратором, так как не будем использовать несколько элементов. Для поиска элементов мы воспользуемся следующим синтаксисом @ViewChild:
//-     </div>
//-   </p-accordionTab>
//- </p-accordion>
//- <div>
//-   <p-dialog [modal]="true" appendTo="body" [maximizable]="true" [(visible)]="displayDialog">
//-       <p-header>
//-           Header content here
//-       </p-header>
//-         <p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
//-           His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
//-           Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
//-           kind and benevolent to those who give respect,
//-           but given to ruthless violence whenever anything stands against the good of the family.
//-         </p>
//-       <p-footer>
//-         <button type="button" pButton icon="pi pi-check" (click)="displayDialog=false" label="Yes"></button>
//-         <button type="button" pButton icon="pi pi-close" (click)="displayDialog=false" label="No" class="ui-button-secondary"></button>
//-       </p-footer>
//-   </p-dialog>
//- </div>
//- <div>
//-   <p-dialog [modal]="true" appendTo="body" [maximizable]="true" [(visible)]="displayDialog2">
//-       <p-header>
//-           Header content here
//-       </p-header>
//-       <app-users-grid></app-users-grid>
//-       <p-footer>
//-         <button type="button" pButton icon="pi pi-check" (click)="displayDialog2=false" label="Yes"></button>
//-         <button type="button" pButton icon="pi pi-close" (click)="displayDialog2=false" label="No" class="ui-button-secondary"></button>
//-       </p-footer>
//-   </p-dialog>
//- </div>
//- </div>

//- </div>
