
<div id="main-content-wrapper">
  <router-outlet></router-outlet>
</div>
<p-toast></p-toast>
<app-snippet-block></app-snippet-block>
<ng-container *ngIf="showContextMenu">
  <p-contextMenu [global]="true" [model]="contextMenu" (onHide)="showContextMenu=false"></p-contextMenu>
</ng-container>