
<p-sidebar [(visible)]="display" [modal]="false" [baseZIndex]="10" [autoZIndex]="false" styleClass="be-left-sidebar-panel">
  <p-menu [model]="itemMenu" styleClass="be-left-sidebar-menu"></p-menu>
</p-sidebar>
<div id="top-block-wrapper">
  <div class="top-button-wrapper p-grid p-nogutter">
    <div class="p-col-6 p-nogutter">
      <button class="ui-button-secondary" pButton type="button" (click)="display = true" icon="pi pi-bars"></button>
    </div>
    <div class="p-col-6 p-nogutter be-align-rigth">
      <button class="ui-button-secondary" pButton type="button" label="collapse all" (click)="collapseOpennedAccordions($event)"></button>
      <button class="ui-button-secondary" pButton type="button" icon="pi pi-sign-out" (click)="logout($event)"></button>
    </div>
  </div>
  <app-holiday-banner-block *ngIf="showBanner"></app-holiday-banner-block>
  <app-top-menu></app-top-menu>
</div>
<div class="be-content-wrapper" [ngClass]="{ 'move-content-rigth': display }">
  <router-outlet></router-outlet>
</div>